MONGODB_URI=mongodb://mongo:UTeVLbRgfLqdsrCzCzFUcitqLqPbLuzn@switchyard.proxy.rlwy.net:32968
ADMIN_USER=admin
ADMIN_PASS=starlink123
JWT_SECRET=starlink-secret-key
TELEGRAM_TOKEN=8356328415:AAHgDeYLhTDnkKmJxik2YxIHUEwWXeUThDg
ADMIN_TELEGRAM_ID=8447661042
ADMIN_TELEGRAM_URL=https://t.me/m/kKMBJpt2NzNl
ALLOWED_ORIGINS=https://starlink.zhongkai.click
